files:
  # Cron to renew cert
  "/etc/cron.d/certbot_renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      @weekly root /opt/elasticbeanstalk/russ_certrenew.sh

container_commands:
  01configurecron:
    command: |
      cat <<EOF > /opt/elasticbeanstalk/russ_certrenew.sh
      #!/bin/bash -xe
      slack_post () {
        if [[ ! -z "${SLACK_WEB_HOOK}" ]]
        then
          jq --arg value1 "\$1" -n '{ "text" : \$value1 }' | \
          curl -X POST -H 'Content-type: application/json' --data @- $SLACK_WEB_HOOK
        fi
      }
      if [[ ! -z "${CERT_DOMAIN}" ]]
      then
        slack_post "renewing cert ${CERT_DOMAIN}"
        source ${PYTHONPATH}/activate
        if ! /usr/local/bin/certbot renew --deploy-hook "nginx -s reload;" &> certbot.log
        then
          slack_post 'failed renew ${CERT_DOMAIN}'
        fi
      fi
      slack_post "\$(cat certbot.log)"
      EOF
      chmod 755 /opt/elasticbeanstalk/russ_certrenew.sh